@font-face {
    font-family: Alagard;
    src: url(alagard.ttf);
}
@font-face {
    font-family: Retro;
    src: url(Retro\ Gaming.ttf);
}
@font-face {
    font-family: Big;
    src: url(big.TTF);
}

body {
    background-image: url(background.png);
    background-color: white;
    color: rgb(216, 202, 8);
    margin: 0px;
}

.header, .footer {
    background-color: rgb(19, 14, 10);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    width:100%;
}

.header {
    top: 0;
    position: fixed;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom:0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: center;
}

h1 {
    padding-left: 30px;
}

sub {
    font-size: 20px;
    text-decoration: underline;
}

.pokelist-container {
    margin: 200px 20% 100px 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.pokecard {
    margin: 10px;
    border: solid;
    border-radius: 20px;
    border-color: rgb(19, 14, 10);
    background-color: rgb(48, 42, 38);
    padding-bottom: 20px;
}

.pokeID {
    font-family: 'Big', sans-serif;
    font-size: 20px;
    background-color: rgb(19, 14, 10);
    border-radius: 10px;
    color: rgb(216, 202, 8);
    text-align: center;
    margin: 0 25% 0 25%;
}

.center-div {
    margin: 0 auto;
    display: block;
}

.pokeName {
    margin-left: 5px;
    font-family: 'Alagard', sans-serif;
    font-size: 30px
}

.types {
    font-family: 'Retro', sans-serif;
    display: inline;
    color: white;
    border: 2px solid;
    border-color: rgb(216, 202, 8);
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}

.types-container {
    display: table;
    margin: 0 auto;
}

.detailContainer {
    border: solid;
    border-radius: 20px;
    border-color: rgb(19, 14, 10);
    background-color: rgb(48, 42, 38);
}